validation/scenario-azure-quickStart/snapshots/ARM_TEMPLATE_SNAPSHOT1394
{
  "structure": "filesystem",
  "error": null,
  "reference": "master",
  "contentType": "json",
  "source": "gitConnectorAzureQuickStart",
  "paths": [
    "/quickstarts/microsoft.logic/logic-app-as2-send-receive/azuredeploy.json",
    "/quickstarts/microsoft.logic/logic-app-as2-send-receive/azuredeploy.parameters.json"
  ],
  "timestamp": 1642962907417,
  "queryuser": null,
  "checksum": "99914b932bd37a50b983c5e7c90ae93b",
  "node": {
    "masterSnapshotId": "ARM_TEMPLATE_SNAPSHOT",
    "type": "arm",
    "collection": "armtemplate",
    "paths": [
      "/quickstarts/microsoft.logic/logic-app-as2-send-receive/azuredeploy.json",
      "/quickstarts/microsoft.logic/logic-app-as2-send-receive/azuredeploy.parameters.json"
    ],
    "snapshotId": "ARM_TEMPLATE_SNAPSHOT1394",
    "status": "active",
    "validate": true,
    "resourceTypes": [
      "microsoft.logic/integrationaccounts/agreements",
      "microsoft.web/connections",
      "microsoft.logic/integrationaccounts",
      "microsoft.logic/workflows",
      "microsoft.logic/integrationaccounts/partners"
    ]
  },
  "snapshotId": "ARM_TEMPLATE_SNAPSHOT1394",
  "collection": "armtemplate",
  "json": {
    "contentVersion": "1.0.0.0",
    "parameters": {
      "contosoIntegrationAccountName": {
        "type": "string",
        "defaultValue": "ContosoIntegrationAccount",
        "minLength": 1,
        "maxLength": 80,
        "metadata": {
          "description": "Name of the Integration Account."
        }
      },
      "fabrikamIntegrationAccountName": {
        "type": "string",
        "defaultValue": "FabrikamIntegrationAccount",
        "minLength": 1,
        "maxLength": 80,
        "metadata": {
          "description": "Name of the Integration Account."
        }
      },
      "contosoAS2ReceiveLogicAppName": {
        "type": "string",
        "defaultValue": "Contoso-AS2Receive",
        "minLength": 1,
        "maxLength": 80,
        "metadata": {
          "description": "Name of the Logic App."
        }
      },
      "fabrikamSalesAS2SendLogicAppName": {
        "type": "string",
        "defaultValue": "FabrikamSales-AS2Send",
        "minLength": 1,
        "maxLength": 80,
        "metadata": {
          "description": "Name of the Logic App."
        }
      },
      "fabrikamFinanceAS2SendLogicAppName": {
        "type": "string",
        "defaultValue": "FabrikamFinance-AS2Send",
        "minLength": 1,
        "maxLength": 80,
        "metadata": {
          "description": "Name of the Logic App."
        }
      },
      "fabrikamFinanceAS2ReceiveMDNLogicAppName": {
        "type": "string",
        "defaultValue": "FabrikamFinance-AS2ReceiveMDN",
        "minLength": 1,
        "maxLength": 80,
        "metadata": {
          "description": "Name of the Logic App."
        }
      },
      "location": {
        "type": "string",
        "defaultValue": "[resourceGroup().location]",
        "metadata": {
          "description": "Location of the Logic App."
        }
      },
      "contoso_AS2_Connection_Name": {
        "type": "string",
        "defaultValue": "Contoso-AS2",
        "metadata": {
          "description": "Name of the AS2 connection."
        }
      },
      "fabrikam_AS2_Connection_Name": {
        "type": "string",
        "defaultValue": "Fabrikam-AS2",
        "metadata": {
          "description": "Name of the AS2 connection."
        }
      }
    },
    "variables": {
      "as2Id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'as2')]"
    },
    "resources": [
      {
        "properties": {},
        "sku": {
          "name": "Standard"
        },
        "tags": {
          "displayName": "Contoso Integration Account"
        },
        "name": "ContosoIntegrationAccount",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "[resourceGroup().location]",
        "apiVersion": "2019-05-01"
      },
      {
        "properties": {},
        "sku": {
          "name": "Standard"
        },
        "tags": {
          "displayName": "Fabrikam Integration Account"
        },
        "name": "FabrikamIntegrationAccount",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "[resourceGroup().location]",
        "apiVersion": "2019-05-01"
      },
      {
        "properties": {
          "partnerType": "B2B",
          "content": {
            "b2b": {
              "businessIdentities": [
                {
                  "qualifier": "ZZ",
                  "value": "99"
                },
                {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                }
              ]
            }
          }
        },
        "name": "ContosoIntegrationAccount/Contoso",
        "type": "Microsoft.Logic/integrationAccounts/partners",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "ContosoIntegrationAccount"
        ]
      },
      {
        "properties": {
          "partnerType": "B2B",
          "content": {
            "b2b": {
              "businessIdentities": [
                {
                  "qualifier": "ZZ",
                  "value": "99"
                },
                {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                }
              ]
            }
          }
        },
        "name": "FabrikamIntegrationAccount/Contoso",
        "type": "Microsoft.Logic/integrationAccounts/partners",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "FabrikamIntegrationAccount"
        ]
      },
      {
        "properties": {
          "partnerType": "B2B",
          "content": {
            "b2b": {
              "businessIdentities": [
                {
                  "qualifier": "ZZ",
                  "value": "98"
                },
                {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamSales"
                }
              ]
            }
          }
        },
        "name": "ContosoIntegrationAccount/FabrikamSales",
        "type": "Microsoft.Logic/integrationAccounts/partners",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "ContosoIntegrationAccount"
        ]
      },
      {
        "properties": {
          "partnerType": "B2B",
          "content": {
            "b2b": {
              "businessIdentities": [
                {
                  "qualifier": "ZZ",
                  "value": "98"
                },
                {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamSales"
                }
              ]
            }
          }
        },
        "name": "FabrikamIntegrationAccount/FabrikamSales",
        "type": "Microsoft.Logic/integrationAccounts/partners",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "FabrikamIntegrationAccount"
        ]
      },
      {
        "properties": {
          "partnerType": "B2B",
          "content": {
            "b2b": {
              "businessIdentities": [
                {
                  "qualifier": "ZZ",
                  "value": "97"
                },
                {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamFinance"
                }
              ]
            }
          }
        },
        "name": "ContosoIntegrationAccount/FabrikamFinance",
        "type": "Microsoft.Logic/integrationAccounts/partners",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "ContosoIntegrationAccount"
        ]
      },
      {
        "properties": {
          "partnerType": "B2B",
          "content": {
            "b2b": {
              "businessIdentities": [
                {
                  "qualifier": "ZZ",
                  "value": "97"
                },
                {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamFinance"
                }
              ]
            }
          }
        },
        "name": "FabrikamIntegrationAccount/FabrikamFinance",
        "type": "Microsoft.Logic/integrationAccounts/partners",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "FabrikamIntegrationAccount"
        ]
      },
      {
        "properties": {
          "hostPartner": "Contoso",
          "guestPartner": "FabrikamSales",
          "hostIdentity": {
            "qualifier": "AS2Identity",
            "value": "Contoso"
          },
          "guestIdentity": {
            "qualifier": "AS2Identity",
            "value": "FabrikamSales"
          },
          "agreementType": "AS2",
          "content": {
            "aS2": {
              "receiveAgreement": {
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "acknowledgementConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": false,
                    "keepHttpConnectionAlive": false,
                    "unfoldHttpHeaders": false
                  },
                  "mdnSettings": {
                    "needMDN": false,
                    "signMDN": false,
                    "sendMDNAsynchronously": false,
                    "dispositionNotificationTo": "http://localhost",
                    "signOutboundMDNIfOptional": false,
                    "sendInboundMDNToMessageBox": true,
                    "micHashingAlgorithm": "SHA2256"
                  },
                  "securitySettings": {
                    "overrideGroupSigningCertificate": false,
                    "enableNRRForInboundEncodedMessages": false,
                    "enableNRRForInboundDecodedMessages": false,
                    "enableNRRForOutboundMDN": false,
                    "enableNRRForOutboundEncodedMessages": false,
                    "enableNRRForOutboundDecodedMessages": false,
                    "enableNRRForInboundMDN": false
                  },
                  "validationSettings": {
                    "overrideMessageProperties": false,
                    "encryptMessage": false,
                    "signMessage": false,
                    "compressMessage": false,
                    "checkDuplicateMessage": false,
                    "interchangeDuplicatesValidityDays": 5,
                    "checkCertificateRevocationListOnSend": false,
                    "checkCertificateRevocationListOnReceive": false,
                    "encryptionAlgorithm": "DES3"
                  },
                  "envelopeSettings": {
                    "messageContentType": "text/plain",
                    "transmitFileNameInMimeHeader": false,
                    "fileNameTemplate": "%FILE().ReceivedFileName%",
                    "suspendMessageOnFileNameGenerationError": true,
                    "autogenerateFileName": false
                  },
                  "errorSettings": {
                    "suspendDuplicateMessage": false,
                    "resendIfMDNNotReceived": false
                  }
                },
                "senderBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamSales"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                }
              },
              "sendAgreement": {
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "acknowledgementConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": false,
                    "keepHttpConnectionAlive": false,
                    "unfoldHttpHeaders": false
                  },
                  "mdnSettings": {
                    "needMDN": false,
                    "signMDN": false,
                    "sendMDNAsynchronously": false,
                    "dispositionNotificationTo": "http://localhost",
                    "signOutboundMDNIfOptional": false,
                    "sendInboundMDNToMessageBox": true,
                    "micHashingAlgorithm": "SHA2256"
                  },
                  "securitySettings": {
                    "overrideGroupSigningCertificate": false,
                    "enableNRRForInboundEncodedMessages": false,
                    "enableNRRForInboundDecodedMessages": false,
                    "enableNRRForOutboundMDN": false,
                    "enableNRRForOutboundEncodedMessages": false,
                    "enableNRRForOutboundDecodedMessages": false,
                    "enableNRRForInboundMDN": false
                  },
                  "validationSettings": {
                    "overrideMessageProperties": false,
                    "encryptMessage": false,
                    "signMessage": false,
                    "compressMessage": false,
                    "checkDuplicateMessage": false,
                    "interchangeDuplicatesValidityDays": 5,
                    "checkCertificateRevocationListOnSend": false,
                    "checkCertificateRevocationListOnReceive": false,
                    "encryptionAlgorithm": "DES3"
                  },
                  "envelopeSettings": {
                    "messageContentType": "text/plain",
                    "transmitFileNameInMimeHeader": false,
                    "fileNameTemplate": "%FILE().ReceivedFileName%",
                    "suspendMessageOnFileNameGenerationError": true,
                    "autogenerateFileName": false
                  },
                  "errorSettings": {
                    "suspendDuplicateMessage": false,
                    "resendIfMDNNotReceived": false
                  }
                },
                "senderBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamSales"
                }
              }
            }
          }
        },
        "name": "ContosoIntegrationAccount/Contoso-FabrikamSales",
        "type": "Microsoft.Logic/integrationAccounts/agreements",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "ContosoIntegrationAccount"
        ]
      },
      {
        "properties": {
          "hostPartner": "FabrikamSales",
          "guestPartner": "Contoso",
          "hostIdentity": {
            "qualifier": "AS2Identity",
            "value": "FabrikamSales"
          },
          "guestIdentity": {
            "qualifier": "AS2Identity",
            "value": "Contoso"
          },
          "agreementType": "AS2",
          "content": {
            "aS2": {
              "receiveAgreement": {
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "acknowledgementConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": false,
                    "keepHttpConnectionAlive": false,
                    "unfoldHttpHeaders": false
                  },
                  "mdnSettings": {
                    "needMDN": false,
                    "signMDN": false,
                    "sendMDNAsynchronously": false,
                    "dispositionNotificationTo": "http://localhost",
                    "signOutboundMDNIfOptional": false,
                    "sendInboundMDNToMessageBox": true,
                    "micHashingAlgorithm": "SHA2256"
                  },
                  "securitySettings": {
                    "overrideGroupSigningCertificate": false,
                    "enableNRRForInboundEncodedMessages": false,
                    "enableNRRForInboundDecodedMessages": false,
                    "enableNRRForOutboundMDN": false,
                    "enableNRRForOutboundEncodedMessages": false,
                    "enableNRRForOutboundDecodedMessages": false,
                    "enableNRRForInboundMDN": false
                  },
                  "validationSettings": {
                    "overrideMessageProperties": false,
                    "encryptMessage": false,
                    "signMessage": false,
                    "compressMessage": false,
                    "checkDuplicateMessage": false,
                    "interchangeDuplicatesValidityDays": 5,
                    "checkCertificateRevocationListOnSend": false,
                    "checkCertificateRevocationListOnReceive": false,
                    "encryptionAlgorithm": "DES3"
                  },
                  "envelopeSettings": {
                    "messageContentType": "text/plain",
                    "transmitFileNameInMimeHeader": false,
                    "fileNameTemplate": "%FILE().ReceivedFileName%",
                    "suspendMessageOnFileNameGenerationError": true,
                    "autogenerateFileName": false
                  },
                  "errorSettings": {
                    "suspendDuplicateMessage": false,
                    "resendIfMDNNotReceived": false
                  }
                },
                "senderBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamSales"
                }
              },
              "sendAgreement": {
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "acknowledgementConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": false,
                    "keepHttpConnectionAlive": false,
                    "unfoldHttpHeaders": false
                  },
                  "mdnSettings": {
                    "needMDN": true,
                    "signMDN": false,
                    "sendMDNAsynchronously": false,
                    "dispositionNotificationTo": "http://localhost",
                    "signOutboundMDNIfOptional": false,
                    "sendInboundMDNToMessageBox": true,
                    "micHashingAlgorithm": "SHA2256"
                  },
                  "securitySettings": {
                    "overrideGroupSigningCertificate": false,
                    "enableNRRForInboundEncodedMessages": false,
                    "enableNRRForInboundDecodedMessages": false,
                    "enableNRRForOutboundMDN": false,
                    "enableNRRForOutboundEncodedMessages": false,
                    "enableNRRForOutboundDecodedMessages": false,
                    "enableNRRForInboundMDN": false
                  },
                  "validationSettings": {
                    "overrideMessageProperties": false,
                    "encryptMessage": false,
                    "signMessage": false,
                    "compressMessage": false,
                    "checkDuplicateMessage": false,
                    "interchangeDuplicatesValidityDays": 5,
                    "checkCertificateRevocationListOnSend": false,
                    "checkCertificateRevocationListOnReceive": false,
                    "encryptionAlgorithm": "DES3"
                  },
                  "envelopeSettings": {
                    "messageContentType": "text/plain",
                    "transmitFileNameInMimeHeader": false,
                    "fileNameTemplate": "%FILE().ReceivedFileName%",
                    "suspendMessageOnFileNameGenerationError": true,
                    "autogenerateFileName": false
                  },
                  "errorSettings": {
                    "suspendDuplicateMessage": false,
                    "resendIfMDNNotReceived": false
                  }
                },
                "senderBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamSales"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                }
              }
            }
          }
        },
        "name": "FabrikamIntegrationAccount/FabrikamSales-Contoso",
        "type": "Microsoft.Logic/integrationAccounts/agreements",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "FabrikamIntegrationAccount"
        ]
      },
      {
        "properties": {
          "hostPartner": "Contoso",
          "guestPartner": "FabrikamFinance",
          "hostIdentity": {
            "qualifier": "AS2Identity",
            "value": "Contoso"
          },
          "guestIdentity": {
            "qualifier": "AS2Identity",
            "value": "FabrikamFinance"
          },
          "agreementType": "AS2",
          "content": {
            "aS2": {
              "receiveAgreement": {
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "acknowledgementConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": false,
                    "keepHttpConnectionAlive": false,
                    "unfoldHttpHeaders": false
                  },
                  "mdnSettings": {
                    "needMDN": false,
                    "signMDN": false,
                    "sendMDNAsynchronously": false,
                    "dispositionNotificationTo": "http://localhost",
                    "signOutboundMDNIfOptional": false,
                    "sendInboundMDNToMessageBox": true,
                    "micHashingAlgorithm": "SHA2256"
                  },
                  "securitySettings": {
                    "overrideGroupSigningCertificate": false,
                    "enableNRRForInboundEncodedMessages": false,
                    "enableNRRForInboundDecodedMessages": false,
                    "enableNRRForOutboundMDN": false,
                    "enableNRRForOutboundEncodedMessages": false,
                    "enableNRRForOutboundDecodedMessages": false,
                    "enableNRRForInboundMDN": false
                  },
                  "validationSettings": {
                    "overrideMessageProperties": false,
                    "encryptMessage": false,
                    "signMessage": false,
                    "compressMessage": false,
                    "checkDuplicateMessage": false,
                    "interchangeDuplicatesValidityDays": 5,
                    "checkCertificateRevocationListOnSend": false,
                    "checkCertificateRevocationListOnReceive": false,
                    "encryptionAlgorithm": "DES3"
                  },
                  "envelopeSettings": {
                    "messageContentType": "text/plain",
                    "transmitFileNameInMimeHeader": false,
                    "fileNameTemplate": "%FILE().ReceivedFileName%",
                    "suspendMessageOnFileNameGenerationError": true,
                    "autogenerateFileName": false
                  },
                  "errorSettings": {
                    "suspendDuplicateMessage": false,
                    "resendIfMDNNotReceived": false
                  }
                },
                "senderBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamFinance"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                }
              },
              "sendAgreement": {
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "acknowledgementConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": false,
                    "keepHttpConnectionAlive": false,
                    "unfoldHttpHeaders": false
                  },
                  "mdnSettings": {
                    "needMDN": false,
                    "signMDN": false,
                    "sendMDNAsynchronously": false,
                    "dispositionNotificationTo": "http://localhost",
                    "signOutboundMDNIfOptional": false,
                    "sendInboundMDNToMessageBox": true,
                    "micHashingAlgorithm": "SHA2256"
                  },
                  "securitySettings": {
                    "overrideGroupSigningCertificate": false,
                    "enableNRRForInboundEncodedMessages": false,
                    "enableNRRForInboundDecodedMessages": false,
                    "enableNRRForOutboundMDN": false,
                    "enableNRRForOutboundEncodedMessages": false,
                    "enableNRRForOutboundDecodedMessages": false,
                    "enableNRRForInboundMDN": false
                  },
                  "validationSettings": {
                    "overrideMessageProperties": false,
                    "encryptMessage": false,
                    "signMessage": false,
                    "compressMessage": false,
                    "checkDuplicateMessage": false,
                    "interchangeDuplicatesValidityDays": 5,
                    "checkCertificateRevocationListOnSend": false,
                    "checkCertificateRevocationListOnReceive": false,
                    "encryptionAlgorithm": "DES3"
                  },
                  "envelopeSettings": {
                    "messageContentType": "text/plain",
                    "transmitFileNameInMimeHeader": false,
                    "fileNameTemplate": "%FILE().ReceivedFileName%",
                    "suspendMessageOnFileNameGenerationError": true,
                    "autogenerateFileName": false
                  },
                  "errorSettings": {
                    "suspendDuplicateMessage": false,
                    "resendIfMDNNotReceived": false
                  }
                },
                "senderBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamFinance"
                }
              }
            }
          }
        },
        "name": "ContosoIntegrationAccount/Contoso-FabrikamFinance",
        "type": "Microsoft.Logic/integrationAccounts/agreements",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "ContosoIntegrationAccount"
        ]
      },
      {
        "name": "Contoso-AS2Receive",
        "type": "Microsoft.Logic/workflows",
        "location": "[resourceGroup().location]",
        "tags": {
          "displayName": "Contoso AS2 Receive"
        },
        "apiVersion": "2019-05-01",
        "properties": {
          "state": "Enabled",
          "integrationAccount": {
            "id": "Microsoft.Logic/integrationAccounts/ContosoIntegrationAccount"
          },
          "definition": {
            "actions": {
              "Check_MDN_Expected": {
                "type": "If",
                "expression": "@equals(body('Decode_AS2_message')?['AS2Message']?['MdnExpected'], 'Expected')",
                "actions": {
                  "Check_MDN_Type": {
                    "type": "If",
                    "expression": "@equals(body('Decode_AS2_message')?['OutgoingMdn']?['MdnType'], 'Async')",
                    "actions": {
                      "Send_200_OK_for_Async_MDN": {
                        "type": "Response",
                        "inputs": {
                          "statusCode": 200
                        }
                      },
                      "Send_Async_MDN": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "@{body('Decode_AS2_message')?['OutgoingMdn']?['ReceiptDeliveryOption']}",
                          "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                          "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                        },
                        "runAfter": {
                          "Send_200_OK_for_Async_MDN": [
                            "Succeeded"
                          ]
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "Send_Sync_MDN": {
                          "type": "Response",
                          "inputs": {
                            "statusCode": 200,
                            "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                            "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                          }
                        }
                      }
                    }
                  }
                },
                "runAfter": {
                  "Decode_AS2_message": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Send_200_OK": {
                      "type": "Response",
                      "inputs": {
                        "statusCode": 200
                      }
                    }
                  }
                }
              },
              "Decode_AS2_message": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "api": {
                      "runtimeUrl": "https://logic-apis-[resourceGroup().location].azure-apim.net/apim/as2"
                    },
                    "connection": {
                      "name": "@parameters('$connections')['as2']['connectionId']"
                    }
                  },
                  "method": "post",
                  "body": "@triggerBody()",
                  "path": "/decode",
                  "headers": "@triggerOutputs()['headers']"
                }
              }
            },
            "parameters": {
              "$connections": {
                "type": "Object"
              }
            },
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http"
              }
            },
            "contentVersion": "1.0.0.0",
            "\uff04schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
          },
          "parameters": {
            "$connections": {
              "value": {
                "as2": {
                  "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'as2')]",
                  "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('contoso_AS2_Connection_Name'))]",
                  "connectionName": "Contoso-AS2"
                }
              }
            }
          }
        },
        "dependsOn": [
          "ContosoIntegrationAccount",
          "Microsoft.Web/connections/Contoso-AS2"
        ]
      },
      {
        "name": "FabrikamSales-AS2Send",
        "type": "Microsoft.Logic/workflows",
        "location": "[resourceGroup().location]",
        "tags": {
          "displayName": "Fabrikam Sales AS2 Send"
        },
        "apiVersion": "2019-05-01",
        "properties": {
          "state": "Enabled",
          "integrationAccount": {
            "id": "Microsoft.Logic/integrationAccounts/FabrikamIntegrationAccount"
          },
          "definition": {
            "actions": {
              "HTTP": {
                "inputs": {
                  "method": "POST",
                  "uri": "[listCallbackURL(resourceId('Microsoft.Logic/workflows', parameters('contosoAS2ReceiveLogicAppName')), '2019-05-01').value]",
                  "headers": {
                    "AS2-From": "FabrikamSales",
                    "AS2-To": "Contoso",
                    "Message-Id": "@guid()",
                    "content-type": "text/plain"
                  },
                  "body": "Fabrikam Sales - sample message"
                },
                "type": "Http"
              }
            },
            "parameters": {
              "$connections": {
                "type": "Object"
              }
            },
            "triggers": {
              "Recurrence": {
                "recurrence": {
                  "frequency": "Hour",
                  "interval": 1
                },
                "type": "Recurrence"
              }
            },
            "contentVersion": "1.0.0.0",
            "\uff04schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
          },
          "parameters": {
            "$connections": {
              "value": {
                "as2": {
                  "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'as2')]",
                  "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('fabrikam_AS2_Connection_Name'))]",
                  "connectionName": "Fabrikam-AS2"
                }
              }
            }
          }
        },
        "dependsOn": [
          "FabrikamIntegrationAccount",
          "Microsoft.Web/connections/Fabrikam-AS2",
          "Contoso-AS2Receive"
        ]
      },
      {
        "name": "FabrikamFinance-AS2Send",
        "type": "Microsoft.Logic/workflows",
        "location": "[resourceGroup().location]",
        "tags": {
          "displayName": "Fabrikam Finance AS2 Send"
        },
        "apiVersion": "2019-05-01",
        "properties": {
          "state": "Enabled",
          "integrationAccount": {
            "id": "Microsoft.Logic/integrationAccounts/FabrikamIntegrationAccount"
          },
          "definition": {
            "actions": {
              "Encode_to_AS2_message": {
                "inputs": {
                  "body": "Fabrikam Finance - sample message",
                  "host": {
                    "api": {
                      "runtimeUrl": "https://logic-apis-[resourceGroup().location].azure-apim.net/apim/as2"
                    },
                    "connection": {
                      "name": "@parameters('$connections')['as2']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/encode",
                  "queries": {
                    "as2From": "FabrikamFinance",
                    "as2To": "Contoso"
                  }
                },
                "type": "ApiConnection"
              },
              "HTTP": {
                "inputs": {
                  "body": "@base64ToBinary(body('Encode_to_AS2_message')?['AS2Message']?['Content'])",
                  "headers": "@body('Encode_to_AS2_message')?['AS2Message']?['OutboundHeaders']",
                  "method": "POST",
                  "uri": "[listCallbackURL(resourceId('Microsoft.Logic/workflows', parameters('contosoAS2ReceiveLogicAppName')), '2019-05-01').value]"
                },
                "runAfter": {
                  "Encode_to_AS2_message": [
                    "Succeeded"
                  ]
                },
                "type": "Http"
              }
            },
            "parameters": {
              "$connections": {
                "type": "Object"
              }
            },
            "triggers": {
              "Recurrence": {
                "recurrence": {
                  "frequency": "Hour",
                  "interval": 1
                },
                "type": "Recurrence"
              }
            },
            "contentVersion": "1.0.0.0",
            "\uff04schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
          },
          "parameters": {
            "$connections": {
              "value": {
                "as2": {
                  "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'as2')]",
                  "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('fabrikam_AS2_Connection_Name'))]",
                  "connectionName": "Fabrikam-AS2"
                }
              }
            }
          }
        },
        "dependsOn": [
          "FabrikamIntegrationAccount",
          "Microsoft.Web/connections/Fabrikam-AS2",
          "Contoso-AS2Receive"
        ]
      },
      {
        "name": "FabrikamFinance-AS2ReceiveMDN",
        "type": "Microsoft.Logic/workflows",
        "location": "[resourceGroup().location]",
        "tags": {
          "displayName": "Fabrikam Finance AS2 Receive MDN"
        },
        "apiVersion": "2019-05-01",
        "properties": {
          "state": "Enabled",
          "integrationAccount": {
            "id": "Microsoft.Logic/integrationAccounts/FabrikamIntegrationAccount"
          },
          "definition": {
            "actions": {
              "Decode_AS2_message": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "api": {
                      "runtimeUrl": "https://logic-apis-[resourceGroup().location].azure-apim.net/apim/as2"
                    },
                    "connection": {
                      "name": "@parameters('$connections')['as2']['connectionId']"
                    }
                  },
                  "method": "post",
                  "body": "@triggerBody()",
                  "path": "/decode",
                  "headers": "@triggerOutputs()['headers']"
                }
              },
              "Response": {
                "inputs": {
                  "statusCode": 200
                },
                "runAfter": {
                  "Decode_AS2_message": [
                    "Succeeded"
                  ]
                },
                "type": "Response"
              }
            },
            "parameters": {
              "$connections": {
                "defaultValue": {},
                "type": "Object"
              }
            },
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http"
              }
            },
            "contentVersion": "1.0.0.0",
            "\uff04schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
          },
          "parameters": {
            "$connections": {
              "value": {
                "as2": {
                  "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'as2')]",
                  "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('fabrikam_AS2_Connection_Name'))]",
                  "connectionName": "Fabrikam-AS2"
                }
              }
            }
          }
        },
        "dependsOn": [
          "FabrikamIntegrationAccount",
          "Microsoft.Web/connections/Fabrikam-AS2",
          "Contoso-AS2Receive"
        ]
      },
      {
        "properties": {
          "hostPartner": "FabrikamFinance",
          "guestPartner": "Contoso",
          "hostIdentity": {
            "qualifier": "AS2Identity",
            "value": "FabrikamFinance"
          },
          "guestIdentity": {
            "qualifier": "AS2Identity",
            "value": "Contoso"
          },
          "agreementType": "AS2",
          "content": {
            "aS2": {
              "receiveAgreement": {
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "acknowledgementConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": false,
                    "keepHttpConnectionAlive": false,
                    "unfoldHttpHeaders": false
                  },
                  "mdnSettings": {
                    "needMDN": false,
                    "signMDN": false,
                    "sendMDNAsynchronously": false,
                    "dispositionNotificationTo": "http://localhost",
                    "signOutboundMDNIfOptional": false,
                    "sendInboundMDNToMessageBox": true,
                    "micHashingAlgorithm": "SHA2256"
                  },
                  "securitySettings": {
                    "overrideGroupSigningCertificate": false,
                    "enableNRRForInboundEncodedMessages": false,
                    "enableNRRForInboundDecodedMessages": false,
                    "enableNRRForOutboundMDN": false,
                    "enableNRRForOutboundEncodedMessages": false,
                    "enableNRRForOutboundDecodedMessages": false,
                    "enableNRRForInboundMDN": false
                  },
                  "validationSettings": {
                    "overrideMessageProperties": false,
                    "encryptMessage": false,
                    "signMessage": false,
                    "compressMessage": false,
                    "checkDuplicateMessage": false,
                    "interchangeDuplicatesValidityDays": 5,
                    "checkCertificateRevocationListOnSend": false,
                    "checkCertificateRevocationListOnReceive": false,
                    "encryptionAlgorithm": "DES3"
                  },
                  "envelopeSettings": {
                    "messageContentType": "text/plain",
                    "transmitFileNameInMimeHeader": false,
                    "fileNameTemplate": "%FILE().ReceivedFileName%",
                    "suspendMessageOnFileNameGenerationError": true,
                    "autogenerateFileName": false
                  },
                  "errorSettings": {
                    "suspendDuplicateMessage": false,
                    "resendIfMDNNotReceived": false
                  }
                },
                "senderBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamFinance"
                }
              },
              "sendAgreement": {
                "protocolSettings": {
                  "messageConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": true,
                    "keepHttpConnectionAlive": true,
                    "unfoldHttpHeaders": true
                  },
                  "acknowledgementConnectionSettings": {
                    "ignoreCertificateNameMismatch": false,
                    "supportHttpStatusCodeContinue": false,
                    "keepHttpConnectionAlive": false,
                    "unfoldHttpHeaders": false
                  },
                  "mdnSettings": {
                    "needMDN": true,
                    "signMDN": false,
                    "sendMDNAsynchronously": true,
                    "receiptDeliveryUrl": "[listCallbackURL(resourceId('Microsoft.Logic/workflows', parameters('fabrikamFinanceAS2ReceiveMDNLogicAppName')), '2019-05-01').value]",
                    "dispositionNotificationTo": "http://localhost",
                    "signOutboundMDNIfOptional": false,
                    "sendInboundMDNToMessageBox": true,
                    "micHashingAlgorithm": "SHA2256"
                  },
                  "securitySettings": {
                    "overrideGroupSigningCertificate": false,
                    "enableNRRForInboundEncodedMessages": false,
                    "enableNRRForInboundDecodedMessages": false,
                    "enableNRRForOutboundMDN": false,
                    "enableNRRForOutboundEncodedMessages": false,
                    "enableNRRForOutboundDecodedMessages": false,
                    "enableNRRForInboundMDN": false
                  },
                  "validationSettings": {
                    "overrideMessageProperties": false,
                    "encryptMessage": false,
                    "signMessage": false,
                    "compressMessage": false,
                    "checkDuplicateMessage": false,
                    "interchangeDuplicatesValidityDays": 5,
                    "checkCertificateRevocationListOnSend": false,
                    "checkCertificateRevocationListOnReceive": false,
                    "encryptionAlgorithm": "DES3"
                  },
                  "envelopeSettings": {
                    "messageContentType": "text/plain",
                    "transmitFileNameInMimeHeader": false,
                    "fileNameTemplate": "%FILE().ReceivedFileName%",
                    "suspendMessageOnFileNameGenerationError": true,
                    "autogenerateFileName": false
                  },
                  "errorSettings": {
                    "suspendDuplicateMessage": false,
                    "resendIfMDNNotReceived": false
                  }
                },
                "senderBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "FabrikamFinance"
                },
                "receiverBusinessIdentity": {
                  "qualifier": "AS2Identity",
                  "value": "Contoso"
                }
              }
            }
          }
        },
        "name": "FabrikamIntegrationAccount/FabrikamFinance-Contoso",
        "type": "Microsoft.Logic/integrationAccounts/agreements",
        "apiVersion": "2016-06-01",
        "dependsOn": [
          "FabrikamIntegrationAccount",
          "FabrikamFinance-AS2ReceiveMDN"
        ]
      },
      {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2018-07-01-preview",
        "name": "Contoso-AS2",
        "location": "[resourceGroup().location]",
        "properties": {
          "api": {
            "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'as2')]"
          },
          "displayName": "Contoso AS2 connection",
          "parameterValues": {
            "integrationAccountId": "Microsoft.Logic/integrationAccounts/ContosoIntegrationAccount",
            "integrationAccountUrl": "[listCallbackURL(resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName')), '2019-05-01').value]"
          }
        }
      },
      {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2018-07-01-preview",
        "name": "Fabrikam-AS2",
        "location": "[resourceGroup().location]",
        "properties": {
          "api": {
            "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'as2')]"
          },
          "displayName": "Fabrikam AS2 connection",
          "parameterValues": {
            "integrationAccountId": "Microsoft.Logic/integrationAccounts/FabrikamIntegrationAccount",
            "integrationAccountUrl": "[listCallbackURL(resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName')), '2019-05-01').value]"
          }
        }
      }
    ],
    "\uff04schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#"
  }
}