validation/scenario-azure-quickStart/snapshots/ARM_TEMPLATE_SNAPSHOT717
{
  "structure": "filesystem",
  "error": null,
  "reference": "master",
  "contentType": "json",
  "source": "gitConnectorAzureQuickStart",
  "paths": [
    "/demos/integrationpatterns-messagerouter-logicapp/azuredeploy.json",
    "/demos/integrationpatterns-messagerouter-logicapp/azuredeploy.parameters.json"
  ],
  "timestamp": 1642962899467,
  "queryuser": null,
  "checksum": "99914b932bd37a50b983c5e7c90ae93b",
  "node": {
    "masterSnapshotId": "ARM_TEMPLATE_SNAPSHOT",
    "type": "arm",
    "collection": "armtemplate",
    "paths": [
      "/demos/integrationpatterns-messagerouter-logicapp/azuredeploy.json",
      "/demos/integrationpatterns-messagerouter-logicapp/azuredeploy.parameters.json"
    ],
    "snapshotId": "ARM_TEMPLATE_SNAPSHOT717",
    "status": "active",
    "validate": true,
    "resourceTypes": [
      "microsoft.logic/workflows"
    ]
  },
  "snapshotId": "ARM_TEMPLATE_SNAPSHOT717",
  "collection": "armtemplate",
  "json": {
    "contentVersion": "1.0.0.0",
    "parameters": {
      "logicAppName": {
        "type": "string",
        "defaultValue": "MessageRouter",
        "metadata": {
          "description": "The name for the logic app."
        }
      },
      "location": {
        "type": "string",
        "defaultValue": "[resourceGroup().location]",
        "metadata": {
          "description": "Location for all resources."
        }
      }
    },
    "variables": {},
    "resources": [
      {
        "type": "Microsoft.Logic/workflows",
        "name": "MessageRouter",
        "apiVersion": "2019-05-01",
        "location": "[resourceGroup().location]",
        "properties": {
          "state": "Enabled",
          "definition": {
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {
                    "properties": {
                      "Address": {
                        "type": "string"
                      },
                      "City": {
                        "type": "string"
                      },
                      "Name": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                }
              }
            },
            "actions": {
              "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                  "variables": [
                    {
                      "name": "ResultURL",
                      "type": "string"
                    }
                  ]
                }
              },
              "Response": {
                "runAfter": {
                  "Switch": [
                    "Succeeded"
                  ]
                },
                "type": "Response",
                "inputs": {
                  "body": {
                    "Response": "Message can be seen at @{variables('ResultURL')}"
                  },
                  "statusCode": 200
                }
              },
              "Switch": {
                "runAfter": {
                  "Initialize_variable": [
                    "Succeeded"
                  ]
                },
                "cases": {
                  "Amsterdam": {
                    "case": "Amsterdam",
                    "actions": {
                      "Send_To_Amsterdam": {
                        "type": "Http",
                        "inputs": {
                          "body": {
                            "description": "Uploaded from Logic Apps",
                            "files": {
                              "Amsterdam.txt": {
                                "content": "Name: @{triggerBody()?['Name']}\nAddress: @{triggerBody()?['Address']}\nCity: @{triggerBody()?['City']}"
                              }
                            },
                            "public": true
                          },
                          "method": "POST",
                          "uri": "https://api.github.com/gists"
                        }
                      },
                      "Set_Amsterdam_Result": {
                        "runAfter": {
                          "Send_To_Amsterdam": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ResultURL",
                          "value": "@{body('Send_To_Amsterdam')?['html_url']}"
                        }
                      }
                    }
                  },
                  "New_York": {
                    "case": "New York",
                    "actions": {
                      "Send_To_New_York": {
                        "type": "Http",
                        "inputs": {
                          "body": {
                            "description": "Uploaded from Logic Apps",
                            "files": {
                              "New York.txt": {
                                "content": "Name: @{triggerBody()?['Name']}\nAddress: @{triggerBody()?['Address']}\nCity: @{triggerBody()?['City']}"
                              }
                            },
                            "public": true
                          },
                          "method": "POST",
                          "uri": "https://api.github.com/gists"
                        }
                      },
                      "Set_New_York_Result": {
                        "runAfter": {
                          "Send_To_New_York": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ResultURL",
                          "value": "@{body('Send_To_New_York')?['html_url']}"
                        }
                      }
                    }
                  },
                  "Paris": {
                    "case": "Paris",
                    "actions": {
                      "Send_To_Paris": {
                        "type": "Http",
                        "inputs": {
                          "body": {
                            "description": "Uploaded from Logic Apps",
                            "files": {
                              "Paris.txt": {
                                "content": "Name: @{triggerBody()?['Name']}\nAddress: @{triggerBody()?['Address']}\nCity: @{triggerBody()?['City']}"
                              }
                            },
                            "public": true
                          },
                          "method": "POST",
                          "uri": "https://api.github.com/gists"
                        }
                      },
                      "Set_Paris_Result": {
                        "runAfter": {
                          "Send_To_Paris": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ResultURL",
                          "value": "@{body('Send_To_Paris')?['html_url']}"
                        }
                      }
                    }
                  }
                },
                "default": {
                  "actions": {
                    "Send_To_Other_Cities": {
                      "type": "Http",
                      "inputs": {
                        "body": {
                          "description": "Uploaded from Logic Apps",
                          "files": {
                            "Other Cities.txt": {
                              "content": "Name: @{triggerBody()?['Name']}\nAddress: @{triggerBody()?['Address']}\nCity: @{triggerBody()?['City']}"
                            }
                          },
                          "public": true
                        },
                        "method": "POST",
                        "uri": "https://api.github.com/gists"
                      }
                    },
                    "Set_Other_Cities_Result": {
                      "runAfter": {
                        "Send_To_Other_Cities": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ResultURL",
                        "value": "@{body('Send_To_Other_Cities')?['html_url']}"
                      }
                    }
                  }
                },
                "expression": "@triggerBody()?['City']",
                "type": "Switch"
              }
            },
            "\uff04schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
          }
        }
      }
    ],
    "\uff04schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#"
  }
}