validation/scenario-azure-quickStart/snapshots/ARM_TEMPLATE_SNAPSHOT1733
{
  "structure": "filesystem",
  "error": null,
  "reference": "master",
  "contentType": "json",
  "source": "gitConnectorAzureQuickStart",
  "paths": [
    "/quickstarts/microsoft.synapse/synapse-poc/nestedtemplates/resumetemplate.json"
  ],
  "timestamp": 1642962910721,
  "queryuser": null,
  "checksum": "99914b932bd37a50b983c5e7c90ae93b",
  "node": {
    "masterSnapshotId": "ARM_TEMPLATE_SNAPSHOT",
    "type": "arm",
    "collection": "armtemplate",
    "paths": [
      "/quickstarts/microsoft.synapse/synapse-poc/nestedtemplates/resumetemplate.json"
    ],
    "snapshotId": "ARM_TEMPLATE_SNAPSHOT1733",
    "status": "active",
    "validate": true,
    "resourceTypes": [
      "microsoft.logic/workflows"
    ]
  },
  "snapshotId": "ARM_TEMPLATE_SNAPSHOT1733",
  "collection": "armtemplate",
  "json": {
    "contentVersion": "1.0.0.0",
    "parameters": {
      "location": {
        "type": "string"
      },
      "companyTla": {
        "type": "string"
      },
      "deploymentType": {
        "type": "string"
      },
      "LogicAppName": {
        "type": "string"
      },
      "Frequency": {
        "type": "string"
      },
      "TIME_ZONE": {
        "type": "string"
      },
      "ResumeTime": {
        "type": "string"
      }
    },
    "variables": {
      "resumeTimeHour": "[split(substring(parameters('resumeTime'), 11, 5), ':')[0]]",
      "recurrenceHours": [
        "[split(substring(parameters('resumeTime'), 11, 5), ':')[0]]"
      ],
      "recurrenceMinutes": [
        0
      ],
      "dailySchedule": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "weekdaySchedule": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "recurrenceSchedule": "[if(equals(parameters('Frequency'), 'Weekdays'), variables('weekdaySchedule'), variables('dailySchedule'))]",
      "resumeTimeString": "[substring(parameters('ResumeTime'), 0, 8)]",
      "synapseWorkspaceName": "[toLower(concat(variables('synapseName'),'ws1'))]",
      "synapseName": "[toLower(concat(parameters('companyTla'),parameters('deploymentType')))]",
      "synapseSQLPoolName": "[toLower(concat(variables('workspaceName'),'p1'))]",
      "workspaceName": "[toLower(concat(variables('synapseName'),'ws1'))]",
      "managementEndpoint": "[environment().resourceManager]",
      "getRESTAPI": "subscriptions/@{variables('RestAPIVariables')['SubscriptionId']}/resourceGroups/@{variables('RestAPIVariables')['ResourceGroupName']}/providers/Microsoft.Synapse/workspaces/@{variables('RestAPIVariables')['workspaceName']}/sqlPools/@{variables('RestAPIVariables')['sqlPoolName']}?api-version=2019-06-01-preview",
      "resumeRESTAPI": "subscriptions/@{variables('RestAPIVariables')['SubscriptionId']}/resourceGroups/@{variables('RestAPIVariables')['ResourceGroupName']}/providers/Microsoft.Synapse/workspaces/@{variables('RestAPIVariables')['workspaceName']}/sqlPools/@{variables('RestAPIVariables')['sqlPoolName']}/resume?api-version=2019-06-01-preview"
    },
    "resources": [
      {
        "type": "Microsoft.Logic/workflows",
        "apiVersion": "2019-05-01",
        "name": "LogicAppName",
        "location": "location",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "state": "Enabled",
          "definition": {
            "actions": {
              "Initialize_API_variables": {
                "type": "InitializeVariable",
                "inputs": {
                  "variables": [
                    {
                      "name": "RestAPIVariables",
                      "type": "Object",
                      "value": {
                        "workspaceName": "[toLower(concat(variables('synapseName'),'ws1'))]",
                        "sqlPoolName": "[toLower(concat(variables('workspaceName'),'p1'))]",
                        "ResourceGroupName": "[resourceGroup().name]",
                        "SubscriptionId": "[subscription().subscriptionId]",
                        "TenantId": "[subscription().tenantId]",
                        "ScheduleTimeZone": "TIME_ZONE",
                        "ResumeTime": "[substring(parameters('ResumeTime'), 0, 8)]"
                      }
                    }
                  ]
                }
              },
              "Get_Synapse_state": {
                "type": "Http",
                "inputs": {
                  "method": "GET",
                  "uri": "[environment().resourceManager]subscriptions/@{variables('RestAPIVariables')['SubscriptionId']}/resourceGroups/@{variables('RestAPIVariables')['ResourceGroupName']}/providers/Microsoft.Synapse/workspaces/@{variables('RestAPIVariables')['workspaceName']}/sqlPools/@{variables('RestAPIVariables')['sqlPoolName']}?api-version=2019-06-01-preview",
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "runAfter": {
                  "Initialize_API_Variables": [
                    "Succeeded"
                  ]
                }
              },
              "Parse_JSON": {
                "inputs": {
                  "content": "@body('Get_Synapse_state')",
                  "schema": {
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "location": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "properties": {
                        "properties": {
                          "collation": {
                            "type": "string"
                          },
                          "creationDate": {
                            "type": "string"
                          },
                          "maxSizeBytes": {
                            "type": "integer"
                          },
                          "provisioningState": {
                            "type": "string"
                          },
                          "restorePointInTime": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "sku": {
                        "properties": {
                          "capacity": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "runAfter": {
                  "Get_Synapse_state": [
                    "Succeeded"
                  ]
                },
                "type": "ParseJson"
              },
              "ResumeSynapseIfOnline": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@body('Get_Synapse_state')['properties']['status']",
                        "Paused"
                      ]
                    }
                  ]
                },
                "actions": {
                  "Resume_SQL_Pool": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "[environment().resourceManager]subscriptions/@{variables('RestAPIVariables')['SubscriptionId']}/resourceGroups/@{variables('RestAPIVariables')['ResourceGroupName']}/providers/Microsoft.Synapse/workspaces/@{variables('RestAPIVariables')['workspaceName']}/sqlPools/@{variables('RestAPIVariables')['sqlPoolName']}/resume?api-version=2019-06-01-preview",
                      "authentication": {
                        "type": "ManagedServiceIdentity"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Parse_JSON": [
                    "Succeeded"
                  ]
                }
              }
            },
            "triggers": {
              "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                  "frequency": "Week",
                  "interval": 1,
                  "timeZone": "TIME_ZONE",
                  "startTime": "2019-01-01T00:00:00Z",
                  "schedule": {
                    "weekDays": "[if(equals(parameters('Frequency'), 'Weekdays'), variables('weekdaySchedule'), variables('dailySchedule'))]",
                    "hours": [
                      "[split(substring(parameters('resumeTime'), 11, 5), ':')[0]]"
                    ],
                    "minutes": [
                      0
                    ]
                  }
                }
              }
            },
            "contentVersion": "1.0.0.0",
            "\uff04schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
          }
        }
      }
    ],
    "\uff04schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#"
  }
}